<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-09-13T17:48:26Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ivanrifs/Documents/GitHub/RONA-Rebuild/RONA-Rebuild.xcodeproj</string>
</dict>
</plist>
